<div class="row">
  <div class="col-sm-3 sidebar" onwheel="return false;">
    <div class="sidebar" onwheel="return false;">
      <div class="header">
        <h3>Portefólio</h3>
        <div class="img-container">
          <img src="https://avatars.githubusercontent.com/u/72219344?v=4" class="profile-img">
        </div>
        <div class="name">Rafael Chicovis</div>
        <div class="title">Dev front-end</div>
        <div class="icons">

          <a href="https://t.me/Rafk97" class="icons" > <i class="bi bi-telegram"></i></a>
          {{ ' ' }}
          <a href="https://www.linkedin.com/in/rafael-kaua-chicovis/" class="icons"> <i class="bi bi-linkedin"></i> </a>
          {{ ' ' }}
          <a href="https://github.com/RafaelKC" class="icons"> <i class="bi bi-github"></i> </a>

        </div>
      </div>
      
      <div class="links-body">
        <a [routerLink]="['/sobre']" routerLinkActive class="link">Sobre</a> <br>
        <a [routerLink]="['/experiencia']" routerLinkActive class="link">Experiência</a> <br>
        <a [routerLink]="['/educacao']" routerLinkActive class="link">Educação</a> <br>
        <a [routerLink]="['/conhecimentos']" routerLinkActive class="link">Conhecimentos</a> <br>
        <a [routerLink]="['/projetos']" routerLinkActive class="link">Projetos</a> <br>
        <a [routerLink]="['/contatos']" routerLinkActive class="link">Contatos</a> <br>
      </div>

      <div class="footer">
        by <a href="https://www.linkedin.com/in/rafael-kaua-chicovis/" class="icons">Rafael Chicovis</a>
      </div>
    </div>
  </div>
  <div class="col-sm-9" style="background-color: aquamarine;">
    <router-outlet></router-outlet>
  </div>
</div>